.under-construction {
  min-height: 100vh;
  width: 100%;
  background: #333;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;

  h1 {
    font-size: 50px;
    text-transform: uppercase;
    color: #c7a036;
  }
  
  h3 {
    font-size: 23x;
    color: #eee;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  p {
    color: #eee;
    font-style: italic;
    margin-bottom: 5rem;
  }

  a {
    color: #c7a036;
    text-decoration: underline;
    font-size: 13px;
  }
}