.contact {
  background: rgb(46, 63, 94);
  margin-top: 50px;
  position: relative;
  overflow: hidden;
  .wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    .content {
      padding: 20px;
      background: #fff;
      box-shadow: 0 1px 3px rgba(black, .3);
      z-index: 5;
      margin: 0 auto;
      max-width: 500px;
      width: 90%;
      h2 {
        font-size: 30px;
        margin-bottom: 10px;
      }
      p {
        margin-bottom: 10px;
        font-size: 12px;
        display: block;
      }
    }
  }
  img {
    position: absolute;
    left: 0;
    bottom: 0;
    object-fit: cover;
  }
}